/* Booking Page */
body{
    font-family: "Helvetica Neue";
}
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container{
    display: flex;
    margin-left: 50px;
}
.header-container button{
    background: transparent;
    border: transparent;
    font-size: 26px;
    margin-right: 30px;
}
.details-container header{
    padding: 30px 60px 135px 30px;
}
.logo-button{
    border: none;
    color: #008489;
    font-weight: 900;
    font-size: 36px;
    display: inline-block;
    background: transparent;
    cursor: pointer;
}
.nav-bar{
    background: transparent;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.nav-items li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-items li a{
    text-decoration: none;
    color: #008489;
}
#search-bar{
    background: transparent;
    padding: 6px 10px 6px 30px;
    border-radius: 50%;
}
#search-bar form{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;
}
#search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
#search-bar form button{
    background: #008489;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
#search-bar form button image{
    width: 7px;
    height: auto;
    margin-top: 3px;
}
.location-input{
    flex: 1;
}
#search-bar form label{
    font-weight: 600;
}

.middle{
    display: flex;
    margin-left: 50px;
    overflow: hidden;
}
.details-container{
    width: 50%;
    float: left;
    border: 1px;
}
.boxed{
    padding: 10px;
    border-radius: 4%;
    margin-left: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    border: 1px solid black;
    overflow: hidden;
}
.box-top{
    display: flex;
    padding: 5px;
}
.box-body{
    display: flex;
    justify-content: space-between;
}
.top-text{
    padding: 5px;
    text-align: top;
}
.footer-container{
    margin-left: 50px;
}
.footer-container button{
    cursor: pointer;
    color: #FFFF;
    font-size: 18px;
    background: #FF4141;
    width: 203px;
    height: 47px;
}

/** Modal **/
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
.modal.active{
    transform: translate(-50%,-50%) scale(1);
}
.modal-header{
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-header .close-button{
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-body{
    padding: 10px 15px;
}
.modal-body input{
    width: 95%;
    border: none;
}
.modal-body textarea{
    height: 200px;
    width: 95%;
    resize: none;
    border: none;
}
.modal-body label{
    opacity: 50%;
}
.modal-form{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #008489;
}
.modal-body button{
    margin-right: 10px;
    float: right;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #008489;
    border-radius: 10px;
    font-weight: bold;
}
#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}

/* Posting Page */
#body-posting{
    background-color: #003A3D;
}
.alt-search label{
    color: white;
}
.posting-dialogue{
    width: 360px;
    height: 400px;
    font-size: 14px;
    margin: 8% auto;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.posting-dialogue h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.posting-dialogue form{
    width: 280px;
    position: absolute;
    top: 35px;
    left: 40px;
    transition: 0.5s;
}
.posting-dialogue form input[type=text]{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
}
::placeholder{
    color: #777;
}
.posting-btn-box{
    position: absolute;
    top: 280px;
    text-align: center;
    width: 100%;
    margin: 30px auto;
}
.posting-dialogue form button{
    width: 85px;
    height: 35px;
    margin: 0 10px;
    background: white;
    border: 1px solid #008489;
    border-radius: 10px;
    cursor: pointer;
}
.posting-dialogue .btn-back{
    background-color: #008489;
    color: white;
}
#Form1,#Form2,#Form3,#Form5,#Form6{
    left: 450px;
}
.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
}
.step-col{
    width: 120px;
    text-align: center;
    color: #333;
    position: relative;
}
#progress{
   position: absolute;
    height: 40px;
    width: 60px;
    background-color: #008489;
    transition: 1s;
}
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -19.5px;
    top: 0;
    border-left: 20px solid #008489;
}
.guest-counter .btn-count{
    text-align: center;
    width: 20px;
    height: 20px;
}
